<!DOCTYPE html>
<!--
 * Created by PhpStorm.
 * User 	: Mohamed Hafez
 * Email	: Mohamed.hafezqo@gmail.com
 * Mobile	: 01144688896
 * Date:
 * Time: 5:20 PM


-->

{include="header"}

				
				
		<div id="main-content" class="containersidebar-right">
	<div class="content">
				
	<!------------------- start form for form ----------------->

		     <div class="post-inner" style="background-color:#FDF8E8;">
                    <h1 class="name post-title endivy-title" itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                        <span itemprop="name">قم بمراسلتنا</span>
                    </h1>
                        
                            <div class="post-inner">
				<h1 class="name post-title entry-title" itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing"><span itemprop="name">طرق التواصل معنا</span></h1>
				<p class="post-meta"></p>
				<div class="clear"></div>
				<div class="entry">
					
					<div class="wpcf7" id="wpcf7-f772-p565-o1" lang="ar" dir="rtl">
                                            <div class="screen-reader-response"></div>
                            <form action="#" method="post" class="wpcf7-form" >
                                            <p>أسمك الكريم (مطلوب)<br>
                                                <input type="text" name="name"  size="40"  required/>
                                            <p>بريدك الإلكتروني (مطلوب)<br>
                                                <input type="email" name="email" size="40" required/>
                                            <p>العنوان<br>
                                                <input type="text" name="address" size="40"/>
                                            <p>رسالتك<br>
                                                <textarea name="your-message" cols="40" rows="10" required></textarea>
                                            <p><input type="submit" name="send" value="إرسال" class="wpcf7-form-control wpcf7-submit"></p>
                            </form>
                                        </div>
										
		</div><!-- .entry /-->	
				<span style="display:none" class="updated">2015-01-22</span>
					<div style="display:none" class="vcard author" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><strong class="fn" itemprop="name"><a href="#?rel=author">+amin</a></strong></div>
								
			</div>
                    <!----------------- end of form         ----------->
                        
                        
                    <span style="display:none" class="updated">2015-01-21</span>
                                            <div style="display:none" class="vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person"><sdivong class="fn" itemprop="name"><a href="#?rel=author">+amin</a></sdivong></div>
                    
                </div><!-- .post-inner -->		
                        
      	<!-------------------end form ----------------->
				

<!----------- end of div for goals ------------------>

         
		</div>
<aside id="sidebar">
        <div class="full-width"><a href="#" target="_blank"><img src="wp-content/uploads/2015/01/gif1.gif"></a></div>

                <div class="full-width"><a href="#" target="_blank"><img src="wp-content/uploads/2015/01/4331.jpg"></a></div>

                <div class="full-width"><a href="#" target="_blank"><img src="wp-content/uploads/2015/01/gif-de-bono.gif"></a></div>

                <div class="full-width"><a href="#" target="_blank"><img src="wp-content/uploads/2015/01/43.jpg"></a></div>

</aside>
                    
<div class="clear"></div>
<nav class="container-last-menu">
    <div class="last-wrap">
        <div class="main-menu"><ul id="menu-%d9%82%d8%a7%d8%a6%d9%85%d8%a9-%d8%a7%d8%b9%d9%84%d9%89-%d8%a7%d9%84%d9%81%d9%88%d8%aa%d8%b1" class="menu"><li id="menu-item-464" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
<li id="menu-item-465" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
<li id="menu-item-466" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
<li id="menu-item-467" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
<li id="menu-item-468" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
<li id="menu-item-469" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
</ul></div>    </div>
</nav><!-- .main-nav /-->
<div class="clear"></div>
</div>

{include="footer"}