<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
index.php ->index.html -> الرئيسية
gadwal-elhkaeb.php ->gadwal-hkaeb.html -> جدول الحقائب التدريبية
    - namozag-sheraa-hakeba.php -> namozag-sheraa-hakeba.html -> نموذج شراء حقيبة تدريبية
    
    
dalel-elmarakez-eltadrebya.php -> dalel-elmarakez-eltadrebya.html -> دليل المراكز التدريبية
    - add-moasasatak.php -> add-moasasatak.html - > اضف مؤسستك
    - search-moasasa.php -> search-moasasa.html - > البحث عن مؤسسة
    
members-trainers.php -> members-trainers.html -> اعضاء هيئة التدريب
    - search-member.php -> search-member.html - > البحث عن مدرب
    
    
goals.php -> goals.html -> الاهداف
about-us.php -> about-us.html -> عن اكاديمية ديبونو
vission.php -> vission.html - > روؤيتنا
message.php -> message.php - > رسالتنا
services.php -> services.html -> خدماتنا
    -design.php -> design.html - > تمصميم مواقع للمتدربين

pay.php -> pay.html - > طرق السداد
contact-us.php -> contact-us.html - > اتصل بنا

bawaba-advertising.php -> bawaba-advertising.html - > البوابة الاعلامية
    - eventsAndConferences.php -> eventsAndConferences.html -> فعاليات ومؤتمرات
    - pressProfile.php ->  pressProfile.html - > الملف الصحفي
    - mediaProfile.php ->  mediaProfile.html - > الملف الاعلامي
    - liveBroadcast.php ->  liveBroadcast.html - > البث المباشر
    - prideTheAcademy.php ->  prideTheAcademy.html - > فخر الاكاديمية

    <!-----------   navbar    --------->
    
certificates.php -> certificates.html ركن الشهادات
pic-lip.php -> pic-lip.html مكتبة الصور
videos.php -> videos.html مكتبة الفيديوهات
phone-apps.php -> phone-apps.html تطبيق الجوال  
visitor-feedback.php -> visitor-feedback.html تطبيق الجوال  
    <!-----------   end navbar    --------->

    
int_company_credits.php -> int_company_credits.html شبكة الاعتمادات الدولية 
local_company_credits.php -> local_company_credits.html شبكة الاعتمادات المحلية 

training_schedule.php -> training_schedule.html جدول الدورات التدربية   
   - training_reg.php -> training_reg.html التسجيل في الدورات    
   - gadwal-elhkaeb.phpالحقائب التدربية    
   - #-> sound_enter.html الدخول الى قاعة الصوت            ----waiting for design---- 
   - training_request.php -> training_request.html طلب دورة تدريبية    

-membershipAndCertification.php -> membershipAndCertification.html - > الاعتمادات والعضوية
-traineeMembership.php -> traineeMembership.html - > عضوية متدرب
