{include="header"}
        
        <div id="main-content" class="containersidebar-right">
            <div class="content">

                <div class="page-head">
                    <h2 class="page-title">
                        جدول الحقائب التدريبية			</h2>
                    <div class="stripe-line"></div>
                </div>



                <!---------------------- gadwal el7kaeb el tadrebia  -------------->
                <div class="box1">
                    <div class="image1">
                        <img src="img/test.jpg" border="0">
                    </div>
                    <div class="details1">
                        <div class="title1">
                            <div style="font-weight: bold; color: #00468C;">بنك البلاد</div>
                        </div>
                        <div class="subtitle1">
                            <div style="font-weight: normal; ">
                                هو بنك قومي كبير
                            </div>

                        </div>
                        <div class="description1">
                            هو بنك اهل الرياض من ذو عشرات السنين
                            هو بنك اهل الرياض من ذو عشرات السنين
                            هو بنك اهل الرياض من ذو عشرات السنين
                        </div>
                    </div>
                    <div class="footer1">
                        <div class="owner1">المالك: شركة مساهمه</div>
                        <div class="statistics1">
                            28-12-2014 
                        </div>

                    </div>
                    <div class="shadow1">
                        <div class="shadow1"> </div>
                    </div>

                </div> <br/><br/>
                
                <div class="box1">
                    <div class="image1">
                        <img src="img/test.jpg" border="0">
                    </div>
                    <div class="details1">
                        <div class="title1">
                            <div style="font-weight: bold; color: #00468C;">بنك البلاد</div>
                        </div>
                        <div class="subtitle1">
                            <div style="font-weight: normal; ">
                                هو بنك قومي كبير
                            </div>

                        </div>
                        <div class="description1">
                            هو بنك اهل الرياض من ذو عشرات السنين
                            هو بنك اهل الرياض من ذو عشرات السنين
                            هو بنك اهل الرياض من ذو عشرات السنين
                        </div>
                    </div>
                    <div class="footer1">
                        <div class="owner1">المالك: شركة مساهمه</div>
                        <div class="statistics1">
                            28-12-2014 
                        </div>

                    </div>
                    <div class="shadow1">
                        <div class="shadow1"> </div>
                    </div>

                </div>
                <!----------------  end of gadwal el7kaeb       -------------------->


            </div>
            <aside id="sidebar">
                <div id="nav_menu-9" class="widget widget_nav_menu"><div class="widget-top">
                        <h4>الحقائب التدريبية</h4>
                        <div class="stripe-line"></div></div>
                    <div class="widget-container">
                        <div class="menu-container">
                            <ul id="menu" class="menu">
                                <li id="menu-item-696" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-696"><a href="#">الحقائب التدريبية</a></li>
                                <li id="menu-item-698" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-698"><a href="namozag-sheraa-hakeba.php">نموذج شراء حقيبة تدريبية</a></li>
                                <li id="menu-item-697" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-697"><a href="#">حمل دليل الحقائب التدريبية</a></li>
                                <li id="menu-item-700" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-700"><a href="#">طرق السداد</a></li>
                            </ul>
                        </div>
                    </div></div><!-- .widget /-->       
                <div class="full-width"><img src="wp-content/uploads/2015/01/gif1.gif"/></div>
                <div class="full-width"><a href="#"  ><img src="wp-content/uploads/2015/01/4331.jpg"/></a></div>
                <div class="full-width"><img src="wp-content/uploads/2015/01/gif-de-bono.gif"/></div>
                <div class="full-width"><img src="wp-content/uploads/2015/01/43.jpg"/></div>

            </aside>
            <div class="clear"></div>
            <nav  class="container-last-menu">
                <div class="last-wrap">
                    <div class="main-menu"><ul id="menu-%d9%82%d8%a7%d8%a6%d9%85%d8%a9-%d8%a7%d8%b9%d9%84%d9%89-%d8%a7%d9%84%d9%81%d9%88%d8%aa%d8%b1" class="menu"><li id="menu-item-464" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
                            <li id="menu-item-465" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
                            <li id="menu-item-466" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
                            <li id="menu-item-467" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
                            <li id="menu-item-468" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
                            <li id="menu-item-469" class="menu-item  menu-item-type-custom  menu-item-object-custom"><a href="#">عنوان رئيسي</a></li>
                        </ul></div>    </div>
            </nav><!-- .main-nav /-->
            <div class="clear"></div>
        </div><!-- .container /-->

        <footer id="theme-footer">
            <div id="footer-widget-area" class="wide-narrow-2c">




{include="footer"}