        <!--Start Footer-->
        <div class="container-fluid last-foot"></div>
        <!--End Footer-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/adminy.js"></script>
        <script type="text/javascript" src="tinymce/tinymce.min.js"></script>
        <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
         });
        </script>

    </body>
</html>