

            <!--Start Admin Panal MAin Content Right Block-->
            <div class="main_container col-lg-9 col-md-8 col-sm-9 col-xs- pull-left">
                <div class="row main_container_head">
                    <h4><span class="glyphicon glyphicon-link"></span>بيانات الموقع </h4>
                </div>

                <div class="row control_panal_body">
                    <!--Start Admin Panal Section Description-->
                    <p class="page_desc">تمكنك صفحة بيانات الموقع من تعديل اعدادات وبيانات موقعك الالكتروني. كن حريص في تعديل بيانات هذه الصفحة لان هذه التعديلات ستطبق مباشره علي موقعك الالكتروني...</p>
                    <!--End Admin Panal Section Description-->





                    <div class="admin_index">
                        <!--Start Site Main Options and Data-->
                        <div class="panel panel-default site_info">
                            <div class="panel-heading text-right h4">بيانات الموقع</div>

                            <form action="update-site-info.php" method="post">
                                {loop="$info"}
                                <div class="form-group">
                                    <label for="site_title">{$value.name}</label>
                                    <input value="{$value.title}" name="{$value.id}" type="text" class="form-control" id="site_title" placeholder="عنوان اهداف الموقع ">
                                </div>
                                <div class="form-group">
                                    <label for="topic_editor">الوصف</label>
                                    <textarea value="" name="{$value.textarea_name}"  rows="5" class="form-control">
{$value.description}
                                    </textarea>
                                </div>
                                     {/loop}



                                <button name="update" type="submit" class="btn btn-default">حفط البيانات</button>
                            </form>



                        </div>
                        <!--End Site Main Options and Data-->
                    </div>
                </div>
            </div>
            <!--Start Admin Panal MAin Content Right Block-->
        </div>
        <!--End Admin Panal Main Body-->


{include="footer-admin"}